html {
  background: rgba(245, 247, 250, 1);
  line-height: 1.4;
}

* {
  font-family: 'Inter';
}

body {
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0 0 2rem;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
